
<div class="justify-center d-flex">
<h1 class="text-3xl font-bold text-indigo-300">New shot</h1>

<%= render "form", shot: @shot %>

<br>

<div>
  <%= link_to "Back to shots", shots_path %>
</div>
</div>