<!-- app/views/users/show.html.erb -->
<div>
  <h1>Profile</h1>
  <p>Work Preferences: <%= @user.work_preferences %></p>
  <p>Settings: <%= @user.settings %></p>

  <%= link_to "Edit Profile", edit_user_registration_path, class: "block p-4 text-xl font-semibold text-gray-400 rounded hover:bg-blue-50 hover:text-blue-600" %>
  <%= link_to "Sign Out", destroy_user_session_path, method: :delete, class: " " %>
</div>

